#titulo{
    color:#000000;
    margin:0px 0px 15px 0px;
    font-weight:lighter;
    text-shadow: 3px 3px #f2f082;

}

body{background-color:#fffeac;}

header{background-color:#000000;
    color:white;
    text-align:center;
    margin-left:20px;
    padding:15px 20px;}

#menuPrincipal{background-color:#f2f082;
    border: 4mm ridge rgba(211, 220, 50, .6);}

#menuPrincipal ul{
    list-style:none;
    padding:0px 0px 0px 0px;}

#menuPrincipal ul li
{display:inline;
    margin:0px 15px 0px 15px;}

#enlaceMenuPrincipal{
    text-decoration: none;
    color:#000000;
    padding:10px 20px 10px 20px;}

#tituloSección{background-color: #fffa00;
    color:#000000;
    padding:20px 20px 20px 20px;}

article{
    border:3px solid #fffa8d;
    background-color: #ccc64a;
    margin:0px 0px 10px 0px;
    padding:10px 10px 10px 10px;
    border-radius: 30px}

footer{background-color:#000000;
    color:#fff000;
    text-align:center;
    margin:10px 10px 10px 10px;
    padding:0px 0px 20px 0px;
    border-radius: 30px;
    border-style: inset;
    font-size: 1.7rem;}

